src/main/mule/mdp-orders-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="mdp-orders-sys-api-main">
        <http:listener path="/api/*" config-ref="mdp-orders-sys-api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="initVariables" doc:id="5d0ae939-5ace-44d0-b4b8-1726406eac0a" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="apiKickOffTime" ><![CDATA[%dw 2.0
import * from dw::util::Timer
output application/json
---
currentMilliseconds()]]></ee:set-variable>
				<ee:set-variable variableName="resourcePath" ><![CDATA[%dw 2.0
output application/json
---
attributes.requestPath]]></ee:set-variable>
				<ee:set-variable resource="dwl/loggingVars.dwl" variableName="loggingVars" />
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="common-process-start-logging-subflow" doc:id="665cd6a2-c289-438b-9fac-5b9be245d086" name="common-process-start-logging-subflow"/>
		
        <apikit:router config-ref="mdp-orders-sys-api-config"/>
        <flow-ref doc:name="common-process-end-logging-subflow" doc:id="cb03a333-d08e-4c1b-991a-9114c7a0080e" name="common-process-end-logging-subflow"/>
    </flow>
    <flow name="mdp-orders-sys-api-console">
        <http:listener path="/console/*" config-ref="mdp-orders-sys-api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mdp-orders-sys-api-config"/>
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="patch:\orders:application\json:mdp-orders-sys-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    orderId: 12,
    message: "Order updated in salesforce",
    timeStamp: "2023-09-09T18:06:32.083291Z",
    correlationId: "12387638"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\healthcheck:mdp-orders-sys-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "OK",
  apiName: "mdp-orders-sys-api",
  failed: false,
  version: "1.0.0",
  env: "dev",
  status: "salesforce reachable",
  systems: [
    {
      message: "OK",
      system: "salesfore",
      status: "salesforce is reachable"
    }
  ],
  code: 200
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\orders:mdp-orders-sys-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    order_id: 1,
    customer_name: "surya",
    product: "cheese - Brie",
    customer_address: "029 West Hill",
    Customer_contact: 8919097266,
    order_type: "online",
    regionOfSales: "New York",
    orderValue: "\$617.10"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\ping:mdp-orders-sys-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  apiName: "mdp-orders-sys-api",
  apiVersion: "1.0.0",
  timeStamp: "2023-09-09 18:06:32.083291Z",
  status: "Running",
  correaltionId: "128768346"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\orders\(order_id):mdp-orders-sys-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="order_id">attributes.uriParams.'order_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    order_id: 1,
    customer_name: "surya",
    product: "cheese - Brie",
    customer_address: "029 West Hill",
    Customer_contact: 8919097266,
    order_type: "online",
    regionOfSales: "New York",
    orderValue: "\$617.10"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\orders:application\json:mdp-orders-sys-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  orderId: 12,
  message: "Order created in salesforce",
  timeStamp: "2023-09-09T18:06:32.083291Z",
  correlationId: "12387638"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
