src/main/mule/mdp-orders-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="mdp-orders-sys-api-main">
        <http:listener path="/api/*" config-ref="mdp-orders-sys-api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="initVariables" doc:id="5d0ae939-5ace-44d0-b4b8-1726406eac0a" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="apiKickOffTime" ><![CDATA[%dw 2.0
import * from dw::util::Timer
output application/json
---
currentMilliseconds()]]></ee:set-variable>
				<ee:set-variable variableName="resourcePath" ><![CDATA[%dw 2.0
output application/json
---
attributes.requestPath]]></ee:set-variable>
				<ee:set-variable resource="dwl/loggingVars.dwl" variableName="loggingVars" />
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="common-process-start-logging-subflow" doc:id="665cd6a2-c289-438b-9fac-5b9be245d086" name="common-process-start-logging-subflow"/>
		
        <apikit:router config-ref="mdp-orders-sys-api-config"/>
        <flow-ref doc:name="common-process-end-logging-subflow" doc:id="cb03a333-d08e-4c1b-991a-9114c7a0080e" name="common-process-end-logging-subflow"/>
    </flow>
    <flow name="mdp-orders-sys-api-console">
        <http:listener path="/console/*" config-ref="mdp-orders-sys-api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mdp-orders-sys-api-config"/>
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="patch:\orders:application\json:mdp-orders-sys-api-config">
		<flow-ref doc:name="mdp-orders-patch-subflow" doc:id="efc40227-7cb8-431a-afb2-a176fd8bded8" name="mdp-orders-patch-subflow"/>
    </flow>
    <flow name="get:\healthcheck:mdp-orders-sys-api-config">
		<flow-ref doc:name="mdp-orders-healthcheck-subflow" doc:id="a5f649ec-6a15-47ab-a31f-516fb57073e3" name="mdp-orders-healthcheck-subflow"/>
    </flow>
    <flow name="get:\orders:mdp-orders-sys-api-config">
		<flow-ref doc:name="mdp-orders-get-subflow" doc:id="faac7f5e-36ae-4e2d-aa54-f9560a9c6e65" name="mdp-orders-get-subflow"/>
    </flow>
    <flow name="get:\ping:mdp-orders-sys-api-config">
		<flow-ref doc:name="mdp-orders-ping-subflow" doc:id="27e2cf08-ff8e-4331-a590-34ea023d261e" name="mdp-orders-ping-subflow"/>
    </flow>
    <flow name="get:\orders\(order_id):mdp-orders-sys-api-config">
		<flow-ref doc:name="mdp-orders-getid-subflow" doc:id="c0a081e7-cd95-41df-a04f-d3d9b2d8afdd" name="mdp-orders-getid-subflow"/>
    </flow>
    <flow name="post:\orders:application\json:mdp-orders-sys-api-config">
		<flow-ref doc:name="mdp-orders-post-subflow" doc:id="64a80024-f02e-45b5-b817-8bd7d5969b02" name="mdp-orders-post-subflow"/>
    </flow>
</mule>
